

/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

/*selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'IBM Plex Sans', sans-serif;
}

/*estilos generales de texto*/
/*txt*/
.h1{
    font-size: 35px;
    font-weight:600;
    color: white;
}

.h2{
    font-size: 24px;
    font-weight: 400;
    color: rgba(215, 45, 38, 1);
    text-align: center;
}

.h3{
    font-size: 18;
    font-weight: 600;
    color: white;
}

.parrafos{
    color: white;
}


/* comienza estilado del header */
.Header{
    background-color: black;
    position: sticky ;   
    width: 100%;
    top:0;
    z-index:10;
}

/*logo header*/
.logo{
    display: inline-block;
    width: 20%;
}

/*navbar*/
.listaNavegacionHeader{
    list-style: none;
}
.linkNavHeader{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}
.a{
    color: rgba(215, 45, 38, 1);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.aSeleccionado{
    color: white;
    font-size: 18px;
    font-weight: 500 ;
    text-decoration: none;
}
/* termina estilado del header */



/* comienza estilado del BODY index*/
.colorBody{
    background-color: black;
}

/*estilados MAIN DEL INDEX*/
/*portada*/
.contenedorPortadaInicio{
    width: 100%;
} 

.portadaInicio{
    /*width: 1350px;*/
    width: 100%;
}

.sumoH1{ /*div que contiene el h1 del index y el primer parrafo de la pagina*/
    padding: 20px;
}



/*section integrantes*/
.sectionIntegrantes{
    padding-top: 50vh;
    padding-bottom: 30vh;
}
.divH2{ /*div que contiene h2 del index con su parrafo*/
    padding: 20px;
}
/*fotos de los integrantes*/
.fotoIntegrantesInicio{
    width: 215px;
    display: inline;
}
.divIntegrantes{
    display: inline;
}
.linkNombreWiky{
    text-decoration: none;
    color: rgba(215, 45, 38, 1);
}


/*section mapas*/
.sectionMapas{
    padding-bottom: 20vh;
    background-color: black
}

/*mapas*/
.divsMapas{
    background-color: black;
    padding-top: 10vh;
}


/*imagen final*/
.contenedorImagenFinal{
    margin: 100px;
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 35%;
}

.imagenFinal{
    height: 200px;
}
/* termina estilado del BODY index*/



/* comienza estilado del footer/
/* estilados del footer*/
.colorFondoFooter{
    background-color: black;
}
.tamañoFooter{
    height: 20vh;
    width: 100%;
}

/*link spotify*/
.divFooter{ /*div que contiene el link a spotify*/
    margin: 5vh 48%;
    padding-top: 5vh;
}

.linkFooter{
    text-decoration: none;
    color: green;
    width: 25%;
    margin: 10px auto;
}

/*texto*/
.textoFooter{
    color: white;
    font-size: 12px;
    text-align: center;
}
