/* comienza estilado del footer/
/* estilados del footer*/

.footer{ 
    background-color:$color-negro;
    @include flexible (column, center);
    padding-top: 20vh;
    padding-bottom: 5vh;
    .footer__contenedorImagenFinal{/*imagen final (cara luca)*/
        @include margin-tb(0vh, 15vh);
        display: flex;
        justify-content:center;
        align-items: center;
        height: 30vh;
        .footer__contenedorImagenFinal__imagen{
            height: 100%;
        
        }
    }
    .footer__divSpotify{ /*div que contiene el link a spotify del footer*/
        padding: 5vh;
        text-align: center;
        .footer__divSpotify__link{/*link spotify*/
            text-decoration: none;
            color: rgb(37, 197, 90);
        }
    }
    .footer__texto{ /*div que contiene el texto del footer*/
        color:$color-blanco;
        font-size: 12px;
        text-align: center;
    }
}

