/* comienza estilado del header */

/* ESTILADOS DE HEADER con BOOTSTRAP */
.Header{
    position: sticky ;   
    top:0;
    z-index:10;
}
.navbar-bgcolor{
    background-color: $color-negro;
    box-shadow: 0px 2px 24px 3px rgb(0, 0, 0); 
}
/*logo header - faltaria  modificar icono menu h.porque no se ve con el bg negro*/
.logo{
    height: 5rem;
}
@media(max-width: 740px){
    .logo{
        height: 3.5rem;
    }
}
.nav-link-margin{
    margin: 0.7rem;
}
.nav-link{ 
    color:$color-grisclaro;
    font-family:'IBM Plex Sans', sans-serif;
    font-weight:map-get($map-font-weight, font-regular);
}
.nav-link2 {
    color: $color-rojo;
    font-family:'IBM Plex Sans', sans-serif;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight:map-get($map-font-weight, font-bold);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* termina estilado del header */